{% extends 'base.html' %}
{% block content %}

  {% if t=='s' %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3 style="color:rgb(147, 112, 219)">Sorry! This don't have this movie.</h3>
    <h3 style="color:rgb(147, 112, 219)">Please check if you spelled it correct.</h3>
    <h3 style="color:rgb(147, 112, 219)">Or try with another movie.</h3>
  </div>

  {% else %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3 style="color:rgb(147, 112, 219)">Here are some movies you may like</h3>
  </div>

    <ul class="list-group list-group-flush">
      {% for m in r %}
        <li class="list-group-item" style="color:rgb(119, 136, 153)"><strong>{{m|capitalize}}</strong></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

